@using MailService.Models
@model ConfirmAccountEmailViewModel

@{
    ViewData["EmailTitle"] = "Reset your " + @Model.CompanyName + " password!";
}

<p>
    We heard that you lost your Gym System password.
    Sorry about that! But don’t worry! You can use the following button to reset your password:
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Confirm Account", Model.ConfirmEmailUrl))

<br />

<p>
    If you don’t use this link within 2 hours, it will expire.
</p>

<br />

<p>
    Thanks, The @Model.CompanyName Team
</p>